body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1200px;
    padding: 20px 110px 20px 110px;
    color: #333332;
    background: linear-gradient(to right, #66B2FF, #FFFF33);
}

h1 {
    font-size: 2em;
    text-decoration: underline;
    text-align: left;
}

img {
    width: 90px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 20px 0px 0px;
}

section {
    max-width: 640px;
    background-color: #e8e8e6;
    border-radius: 15px 15px 15px 15px;
    padding: 20px 20px 20px 20px;
    opacity: 0.6;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, [row] auto);
}

.about-me {
    float: right;
    line-height: 2em;
    padding: 20px 20px 20px 20px;
    min-width: 300px;
}